/* styles.css */

/* Reset some default browser styles */
body,
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: greenyellow;
    color: #fff;
    padding: 20px;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

nav ul {
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

h2 {
    font-size: 1.8em;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

img {
    float: 100px;
    width: 100px;
}

footer {
    background-color: greenyellow;
    height: 70px;
    color: rgb(255, 255, 255);
}